CompileFlags:
  Add: [-ferror-limit=0, -isysroot=/home/barty/.platformio/packages/toolchain-xtensa-esp32/xtensa-esp32-elf]
  Remove: [-fno-tree-switch-conversion, -mtext-section-literals, -mlongcalls, -fstrict-volatile-bitfields, -mdisable-hardware-atomics, -fno-shrink-wrap]
  CompilationDatabase: .pio